/* li:first-child {
    background-color: blue;
    color: white;
} */

/* li:first-of-type {
    background-color: blue;
    color: red;
} */

/* p:first-child {
    background-color: red;
} */

/* p:first-of-type {
    background-color: red;
} */

/* section:last-child {
    background-color: red;
} */

/* section:last-of-type {
    background-color: red;
} */

/* button:last-of-type {
    background-color: red;
} */
/* 
p:nth-child(1) {
    background-color: red;
} */

p:nth-child(2) {
    background-color: red;
}
