* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: yellow;
}

.card {
    background-color: orange;
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: 4px solid lightgrey;
    margin: 2rem auto;
    width: 25rem;
}

h2 {
    color: green;
}

p {
    color: brown;
    background-color: beige;
    padding: 0.5rem 1rem;
    border-radius: 0.7rem;
}
