* {
    padding: 0;
    margin: 0;
}

.text-type-1 {
    background-color: lavender;
    height: 30px;
    width: 30px;
    padding: 25px;
    border: 10px solid grey;
    box-sizing: content-box;
    margin: 25px;
}

.text-type-2 {
    background-color: wheat;
    height: 100px;
    width: 100px;
    padding: 25px;
    border: 10px solid grey;
    box-sizing: border-box;
    margin: 25px;
}
