* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h2 {
    color: brown;
    text-align: center;
}

body {
    background-color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

form {
    background-color: gainsboro;
    padding: 2rem 3rem;
    border-radius: 0.8rem;
    border: 4px solid grey;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

form * {
    font-size: 1.5rem;
}
