#root {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    row-gap: 1rem;
    column-gap: 1.5rem;
}

.card {
    border: 1px solid lightslategray;
    padding: 1.25rem 2rem;
    background-color: yellow;
    color: brown;
}

img {
    height: 170px;
}
