*{
    padding: 0;
    margin: 0;
}
.text-type-1{
    background-color: lavender;
    height: 100px;
    width: 100px;
}
.text-type-2{
    background-color: wheat;
    height: 200px;    
    width: 200px;    

}
.padd-type{
    background-color: lavenderblush;
    height: 100px;
    width: 100px;
    padding: 25px;
    border: 10px solid;
}